@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
/* @utility {
  .font-unkempt {
    font-family: "Unkempt", cursive;
  }
  .font-ultra {
    font-family: "Ultra", serif;
    font-weight: 900;
    font-style: normal;
  }
} */
html {
    scroll-behavior: smooth;
}
body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/assets/svg/bg.png");
  background-size: 50%;
}
input {
  @apply bg-sky-100 p-3 rounded-md text-sky-900;
}
select {
  @apply bg-sky-100 p-3 rounded-md text-sky-900;
}
button {
  @apply border-none rounded-lg;
}
.submit {
  @apply p-3 m-3 border rounded-lg bg-sky-700 text-white;
}
.btn{
  @apply p-3 bg-sky-100 border text-black rounded-md; 
}
.delete{
  @apply bg-red-500/25 backdrop-blur-lg text-white px-2 my-1 py-1 rounded;
}
.table {
  @apply p-5 border-black border-2;
}
.table thead tr th {
  @apply border border-gray-500 p-3
}
.table tbody tr td {
  @apply border border-gray-500 p-1;
}
